<h1>Stefan Steiner</h1>
<img src="/assets/me.jpg">
<br>
<h2><%= @hometown %></h2>
<p>Junior</p>
<p class="fun_fact">I climbed a 10,000ft mountain when I was only 10 years old!</p>
<p class="excited">I'm excited to become a full stack developer from only DeCals</p>